/* font */
@font-face {
    font-family: tictactoe;
    src: url(font/KGWhattheTeacherWants.ttf);
}


/* everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tictactoe, sans-serif;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}


/* custom prompt */
.custom_prompt_container {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
}

.custom_prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    width: 450px;
    height: 200px;
    background-color: white;
    color: black;
    border: 4px solid black;
    border-radius: 20px;
}

.prompt_input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.prompt_input {
    width: 250px;
    height: 40px;
    padding-left: .5rem;
    font-size: 1.5rem;
    border: 3px solid black;
    border-radius: 5px;
}

.prompt_button {
    width: 60px;
    height: 40px;
    font-size: 1.25rem;
    border: 2px solid black;
    border-radius: 5px;
}


/* parent containers */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top_container { 
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0 calc(35px + 2rem);
    gap: 2rem;
}

/* players section */
.player_one_container {
    position: relative;
    margin-bottom: .5rem;
}

.player_two_container {
    position: relative;
}

.player {
    place-self: center;
    font-size: 2rem;
    font-weight: 600;
}

.marker_one {
    color: red;
}

.marker_two {
    color: blue;
}

.marker_one, .marker_two {
    position: absolute;
    bottom: -6px;
    left: -35px;
    font-size: 3rem;
    font-weight: 500;
}


/* result section */
.game_info_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_info {
    font-size: calc(3rem + 1.35vw);
    text-align: center;
}

/* event buttons */
.buttons_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.new_game_btn {
    padding: .5rem;
    font-size: 1.25rem;
    border-radius: 5px;
    border: 2px solid black;
}

.change_players_btn {
    padding: .5rem;
    font-size: 1.25rem;
    border-radius: 5px;
    border: 2px solid black;
}


/* board  */
.board_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gameboardTiles {
    display: grid;
    grid-template-columns: repeat(3, 33.3%); 
    grid-auto-rows: 33.3%;
    list-style: none;
    place-content: center;
    width: 30%;
    min-width: 450px;
    aspect-ratio: 1;
}

.tile {
    font-size: calc(6vw + 6vh);
    font-weight: 700;
    border-right: 7px solid black; 
    border-bottom: 7px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .25em;
}

.tile:nth-child(3n) {
    border-right: none;
}

.tile:nth-last-child(-n+3) {
    border-bottom: none;
}

.redMarker {
    color: red;
}

.blueMarker {
    color: blue;
}